---
layout: layout.liquid
title: Anna O Music
---

<div class="h-screen">
  <section class="h-slide w-full overflow-hidden bg-hero-image bg-cover bg-bottom">
    <h1 class="p-6 font-serif text-2xl lg:text-4xl text-center uppercase bg-kelp text-white">Anna O</h1>
  </section>
  <section class="bg-white p-1">
    <menu class="flex flex-col gap-1 md:grid md:grid-cols-2 lg:grid-cols-3 h-full">
      <li>
        {% include "iconButton", label: "Play on Spotify", iconName: "spotify", link: "https://open.spotify.com/artist/7MNF0ytQ3FGKbj710RGNF4?si=6ukyg85NQeelLTZjkseajQ" %}
      </li>
      <li>
        {% include "iconButton", label: "Watch on YouTube", iconName: "youtube", link: "https://www.youtube.com/user/annaomusic" %}
      </li>
      <li>
        {% include "iconButton", label: "Play on Apple Music", iconName: "apple", link: "https://music.apple.com/us/artist/anna-o/872202053" %}
      </li>
      <li>
        {% include "iconButton", label: "Play on SoundCloud", iconName: "soundcloud", link: "https://soundcloud.com/annaomusic" %}
      </li>
      <li>
        {% include "iconButton", label: "Follow on Instagram", iconName: "instagram", link: "https://instagram.com/annaomusic/" %}
      </li>
      <li>
        {% include "iconButton", label: "Follow on Facebook", iconName: "facebook", link: "https://www.facebook.com/annaomusic" %}
      </li>
    </menu>
  </section>
  <section class="min-h-slide flex flex-col items-center justify-center text-center bg-kelp p-12">
    <h2 class="col-span-2 font-serif text-3xl lg:text-6xl text-center uppercase text-white">
      New single
      <span class="block text-6xl lg:text-9xl">Set It On Fire</span>
      out now
    </h2>
    <a href="https://anna-o.lnk.to/Set-It-On-Fire" class="text-xl lg:text-3xl mt-20 p-5 bg-falcon hover:bg-roman-coffee focus-visible:bg-roman-coffee text-white">Listen Now</a>
  </section>
  <section class="min-h-half-slide p-3 md:p-10 lg:p-20 flex items-center bg-falcon">
    <iframe
      class="md:h-slide"
      style="border-radius:12px"
      src="https://open.spotify.com/embed/artist/7MNF0ytQ3FGKbj710RGNF4?utm_source=generator&theme=0"
      width="100%"
      height="100%"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      title="Spotify Player"
      loading="lazy"></iframe>
  </section>
  <section class="min-h-slide flex flex-col md:flex-row gap-6 p-6 bg-kelp">
    <div class="md:flex-1 flex items-center justify-center">
      <h2 class="sr-only">Bio</h2>
      <img
        src="./img/anna-o-profile.jpg"
        alt="Profile photo of Anna O"
        width="300"
        height="300"
        class="rounded-full aspect-square">
    </div>
    <div class="md:flex-1 flex flex-col items-center justify-center text-lg text-white overflow-y-auto">
      <p class="mb-6 max-w-lg">
        Boorloo/Perth-based electro pop artist Anna O has been captivating audiences with her powerful and passionate brand of alt pop since the release of her debut EP in 2015.
      </p>
      <p class="mb-6 max-w-lg">
        Her latest release ‘Set It On Fire’ not only showcases Anna O’s emotive lyricism and pulsating beats but also boasts a dreamy production that feels ethereal.
        Produced by Luke Minness at Panda Candy Studios, this track is nothing short of liberating. Powerful vocals are layered with soaring choruses that burst with energy, creating a sense of euphoria that is hard to resist.
      </p>
      <p class="mb-6 max-w-lg">
        Drawing from her own life experiences, Anna O has crafted a song that is both heartfelt and powerful, exploring themes of self-discovery and finding one’s way through life’s challenges. 
        Anna O states: “It’s no surprise that lyrically it was still about this season of life that I was in the thick of.. post-natal depression, stay at home mum, no understanding or diagnosis yet for me or my boys. Still unmedicated because I was too scared.”
      </p>
      <p class="mb-6 max-w-lg">
        Being open and transparent about her challenges in life is the core to her songwriting as she continues, 
        “One morning at some inhumane hour I lay awake staring into the dark after feeding my baby boy back to sleep.
                I was agitated and frustrated, but then this sense came over me that I was about to write a song, which is how songwriting tends to work for me.”
      </p>
    </div>
  </section>
  <section class="min-h-slide flex items-center justify-center text-center bg-washed-acovado">
    <img
      src="img/anna-o-4.jpg"
      alt="Black and white portrait of Anna sitting on a chair, facing the camera, on a large white photo set sheet in a garden setting"
      class="w-full min-h-slide object-cover">
  </section>
  <!--
  <iframe
  class="h-slide w-[100%] bg-kelp"
  src="https://www.youtube-nocookie.com/embed/7CmaZtTSB9E"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>
  --><section class="min-h-slide p-6 flex flex-col gap-2 items-center justify-center bg-washed-avocado">
    <h2 class="font-serif text-3xl lg:text-6xl text-center uppercase">
      Mailing List
    </h2>
    <p>Join the mailing list to be the first to hear about new music and new shows.</p>
    <form
      name="Mailing list signup"
      class="mt-12"
      netlify>
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="name@example.com"
        class="p-4 border-roman-coffee border-2 rounded-md">

      <button type="submit" class="p-4 border-roman-coffee border-2 rounded-md bg-roman-coffee text-white">Join</button>
    </form>
  </section>
</div>