<a href="{{link}}" class="flex p-3 gap-3 h-24 items-center justify-center bg-ghost hover:bg-washed-avocado focus-visible:bg-washed-avocado text-black text-lg">
  <span class="w-10 fill-falcon">{% icon iconName %}</span>
  {{ label }}</a>