<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{description | default: "Anna O website"}}">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>